
@{
    ViewBag.Title = "Walkin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Walkin</h2>

<table class="table">
 <tr><td>Name</td><td><input type="text" class="form-control" placeholder="Enter name" /></td><td><button>Add</button></td></tr>
</table>
